{% extends 'base.html' %}   
{% load static %}
{% block title %}Registro Exitoso{% endblock %}
{% block content %}

<div class="container text-center my-5 py-4 ">
    <div class="alert alert-success" role="alert">
        <h1 class="display-4">¡Registro Exitoso!</h1>
        <p class="lead mt-3">{{ nombre }} ha sido registrado correctamente.</p>
    </div>
    
    <div class="mt-4">
        <a href="javascript:history.back()" id="btn-eventos" class="btn btn-lg px-5 py-3 me-sm-4">Volver</a>
        <a href="{% url 'inicio' %}" class="btn btn-outline-secondary btn-lg px-5 py-3">Ir al Inicio</a>
    </div>
</div>

{% endblock %}